@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #252525;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

header div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgPata {
  /* width: 4vw; */
  height: 7vh;
}

h1 {
  color: #ffffff;
  font-size: 1.5vw;
}

header nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

header nav img {
  height: 4vh;
}

.dogFeliz div {
  width: 50%;
  border: solid red;
  margin-left: 4rem;
  text-align: center;
}

.dogFeliz {
  background-image: url("imagens/cao1.png");
  height: 150vh;
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bemVindo {
  font-size: 5vw;
  font: bold;
  color: #FFFFFF;
  margin-left: 4%; 
  max-width:100%
}

.imgPataDois{
  height: 15vh;
}


.dogLeao {
  background-image: url("imagens/cao2.png");
  min-height: 100vh; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.dogLeao div{
  margin-left: 2%;
  border: solid red;
}

.dogLeao h3 {  
  font-size: 4vw;
  font-family: 'Roboto';
  color: #3A342F;
  text-align: left;
  letter-spacing: 0px;
  white-space: pre-line;
}

.dogLeao p {  
  font-size: 1.8vw;
  font-family: 'Roboto';
  color: #3a342f;
  text-align: left;
  letter-spacing: 0px;
  white-space: pre-line;

}

.dogLeao button {
  width: 30%;
  height: 8vh;
  font-size: 2vw;
  border-radius: 40px;
  background-color: #3a342f;
  color: #f4f2f3;
}

.dogPleno {
  background-image: url("imagens/cao3.png");
  min-height: 120vh; 
  background-repeat: no-repeat;
  background-size: 100% 120vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.dogPleno div{
  margin-left: 50%;
  margin-right: 5%;
  border: solid red;
}

.dogPleno h3 {  
  font-size: 4vw;
  font-family: 'Roboto';
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0px;
  white-space: pre-line;
}

.dogPleno p {  
  font-size: 1.8vw;
  font-family: 'Roboto';
  color: #FFFFFF;
  text-align:justify;
  letter-spacing: 0px;
  white-space: pre-line;
}

.dogPleno button {
  width: 30%;
  height: 8vh;
  font-size: 2vw;
  border-radius: 40px;
  background-color: #FFFFFF;
  color: #000000;;
}

.apoio{
    color:#FD6A9A;
    font-family: 'Roboto';
    font-size: 10vh;
    text-align: center;
    font: italic;
    background-color: #FFFFFF;
    font-size: 1.5vw;
  }

.apoio img {
  width: 10vw;
  height: auto; 
  margin-left: 4vh;
  background: transparent;
  align-items: center;
}

footer{
  background-color: #FD6A9A;
  color:#FFFFFF;
  font-family: 'Roboto';
  display: flex;
  align-items: center; 
}

footer section {
  flex: 1; 
  margin: 0 100px;
  text-align: justify;
}

footer h3{
    font-size: 3.5vh;
}

footer ul {
  font-size: 1.5vh;
  list-style: none; 
  padding: 40;
}

footer li {
  margin-right: 10px; 
  margin-bottom: 5px; 
}







